<aside id="easter-eggs" class="hidden" aria-label="Easter egg content">
    <!-- Ads (?ads=true) -->
    <figure class="mb-12" _="init if window.location.search contains '?ads=true' put me before #hero">
        <a href="https://swag.htmx.org">
            <img src="/img/easter-eggs/ads-top.png" alt="Retro advertisement: MacMall PowerBooks as low as 1999$! Call 888-932-1569. Get your FREE 64MB RAM with your PowerBook!" class="mx-auto" />
        </a>
    </figure>
    <figure class="mt-16" _="init if window.location.search contains '?ads=true' put me after #hero">
        <a href="https://swag.htmx.org">
            <img src="/img/easter-eggs/ads-bottom.png" alt="Retro advertisement: Get Flash! FREE Microsoft Internet Explorer! Netscape Now! (3.0) Site created with Microsoft&reg; FrontPage&trade;. Powered by Microsoft BackOffice." class="mx-auto"/>
        </a>
    </figure>

    <!-- Shut up warren (?uwu=true) -->
    <figure _="init if window.location.search contains '?wuw=true' put me into #hero-logo">
        <a href="https://swag.htmx.org/products/shut-up-warren-tee">
            <img src="/img/easter-eggs/shut-up-warren.png" alt="shut up warren ⁺₊✦ uwu">
        </a>
    </figure>

    <!-- katakana (?wuw=true) -->
    <figure _="init if window.location.search contains '?uwu=true' put me into #hero-logo">
        <a href="https://swag.htmx.org/products/htmx-katakana-shirt">
            <img src="/img/easter-eggs/katakana.png" alt="htmx in katakana: エイチティーエムエックス uwu">
        </a>
    </figure>

    <!-- horse (?horse=true) -->
    <figure _="init if window.location.search contains '?horse=true' put me after #hero-logo">
        <a href="https://swag.htmx.org">
            <img src="/img/easter-eggs/horse.png" alt="Retro computer horse graphic" class="absolute right-1/2 top-full translate-x-[60%] sm:translate-x-[75%] md:translate-x-[85%] lg:translate-x-full -translate-y-[75%] mask-t-from-50% mask-t-to-100% mask-b-from-90% mask-b-to-100% scan-lines opacity-50">
        </a>
    </figure>
</aside>